@{
    ViewBag.Title = "Home Page";
}

<div class="background-adjustment">
    <div class="jumbotron">
        <div class="title-heading">
            <h1>Character Create</h1>
        </div>
        <p class="lead">Create a new DND Character to use in your Campaign.</p>
        <p><a href="/Character/Create" class="btn btn-primary btn-lg">Create New &raquo;</a></p>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">

            <h2>Getting started</h2>

            <p>
                Start your adventure in D&D by creating a new character, selecting its stats, and adding items and spells to the character.!
            </p>
            <p><a class="btn btn-default" href="../Character/Create">New Character &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Create Items</h2>
            <p>Adventurers need stuff...lots of stuff...in fact if your party has a rogue you might end up with more stuff than you knew about.</p>
            <p><a class="btn btn-default" href="../Item/Create">Create new items &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Create New Spells</h2>
            <p>Want to throw fireballs or shoot lightning...start your creation here!</p>
            <p><a class="btn btn-default" href="../Spell/Create">Create Spells! &raquo;</a></p>
        </div>
    </div>
